.sectionImage {
	background-image: url(../image/game-image-opaque.jpg);
	background-attachment: fixed;
	width: 100vw;
	height: 70vh;
}

.textImage {
	font-family: 'Courgette', cursive;
	text-align: center;
	margin: auto;
	padding-top: 15%;
	font-size: 400%;
	color: black;
	text-shadow: 0px 20px 4px #0f0f0f;

}