h3 {
    font-size: 2000%;
}

.sectionForm {
    padding: 5%;
    color: #0f0f0f;
    background-image: url("../image/P1060347.jpg");
    background-attachment: fixed;
}

.lens {
    position: absolute;
    margin-left: 25%;
    width: 40%;
    height: 40%;
    margin-top: 5%;
}

.lens:hover {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    transition-duration: 1000ms;
}

.imgInLens {
    position: absolute;
    margin-left: 25%;
    width: 40%;
    height: 40%;
    margin-top: 5%;
}

.form-group {
    margin-right: 10%;
}

.titreForm {
    font-weight: bold;
    text-align: center;
}

.accrocheForm {
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
}