.sectionForm {
    padding: 5%;
    color: #0f0f0f;
    background-image: url("../image/P1060347.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    font-family: 'DIN';
}

.logolabo {
    width: 40%;
    height: 40%;
}

.adresse {
    margin-top: 10%;
    text-align: center;
}

.catForm {
    font-family: 'DIN';
}

.form-group {
    margin-right: 10%;
}

.titreForm {
    font-weight: bold;
    text-align: center;
    font-family: 'DIN';
}

.accrocheForm {
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    font-family: 'DIN';
}

.form-control {
    box-shadow: #EE6616;
}

.btn{
    margin-left: 40%;
}