.sectionImage {
	background-image: url(../image/game-image-opaque.jpg);
	background-attachment: fixed;
	background-size: cover;
	height: 70vh;
    width: 100vw;
}

.textImage {
	font-style: italic;
	font-family: 'DIN';
	text-align: center;
	margin: auto;
	padding-top: 12%;
	font-size: 450%;
	color: black;
}

.guillemets {
	width: 12%;
	height: 32%;
}

.guillemetsdown {
    width: 50%;
    height: 70%;
}