.actu {
    font-family: 'DIN';
    text-align: center;
    height: 100%;
    padding: 0px;
}

.lens-actu {
    position: absolute;
    top: 10%;
    margin-left: 25%;
    width: 40%;
    height: 40%;
    margin-top: 5%;
    z-index: 1;
}

.lens-actu:hover {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    transition-duration: 1000ms;
}

.imgInLens {
    position: relative;
    width: 40%;
    height: 40%;
    margin-top: 5%;
    margin-left: 25%;
}

.txtActu {
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    margin-top: 0px;
}