/* Notre philosophie */
.titreMetier {
    font-size: 300%;
    margin-bottom: 3%;
}

.notre_philo {
    font-family: 'DIN';
}

.txt-presentation {
    font-size: 200%;
    margin-bottom: 1%;
}

p {
    font-size: 1.2em;
}

.notre_philo {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color:;
    text-align: center;
}

.liste_philo {
    margin-top: 3%;
    font-size: 180%;
    text-align: center;
    margin-bottom: 3%;
}


/* trois points */

.point123 {
}

.hidden-xs {
    display: ;
}

.hidden-sm {
    display: ;
}

.titre_trois_points {
    text-align: center;
}

.img_trois_points {
    margin: auto;
    perspective: 1000px;
}

.img_trois_points:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 0.6s;
    position: relative;
}

.text_trois_points {
    text-align: center;
}

.banner_trois_points {

    background-image: url("../image/swirl3.png");
    background-color: none;
    background-attachment: fixed;
    padding-top : 20px;
    padding-bottom: 20px;
}
