/*********************************************** HEADER ***************************************************************/
Header {
    background-image: url("../image/background-orange.JPG");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 40%;
    text-align: center;
    color: white;
}

Header h1 {
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-weight: bold;
}

Header p {
    font-family: 'DIN-Light', 'Courgette';
}

.logo_header {
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo_header img  {
    width: 315px;
    height:315px ;
    right: -300px;
    position: relative;
}

.logo_text {
    padding-top: 160px;
    padding-bottom: 160px;
    left: -150px;
}

.logo_text p {
    letter-spacing: 8px;
    line-height: 0.5;
    font-size: 2.7em;
}

.logoHeader {
    width: 12%;
    height: 12%;
    margin: auto;
}

.marque {
    font-size: 600%;
}

.slogan {
    font-size: 300%;
}

.navbar {
    text-align: center;
    font-family: 'DIN';
    font-size: 200%;
    z-index: 999;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    opacity: 0.7;
    width: 100%;
    color: white;
}

.titreMenu {

}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    color: white;
}

.navbar .navbar-collapse {
    text-align: center;
    color: white;
}

.lienMenu {
    color: white;
}

.lienMenu:hover {
    text-decoration: none;
    color: white;
}

.lienMenu:active {
    text-decoration: none;
    color: white;
}

.lienMenu:focus {
    text-decoration: none;
    color: white;
}

/*********************************************** / HEADER *************************************************************/
