/*********************************************** HEADER ***************************************************************/
Header {
    background-image: url("background-orange.JPG");
    background-attachment: fixed;
    width: 100vw;
    color: black;
}

.jumbotron {
	height: 40vh;
	width: 100vw;
}
.backgroundHeader {
    background-image: url("background-orange.JPG");
    background-attachment: fixed;
}

.logoHeader {
    height: 30vh;
    width: 60vw;
	margin: auto;
}

.lienMenu {
    color: #0f0f0f;
    font-size: 200%;
}

.lienMenu:hover {
    text-decoration: none;
}

.navbar {
    background-image: url("background-orange.JPG");
    background-attachment: fixed;
}

.navbar.fixed {
    position:fixed;
    top:0;
    z-index:1000;
    opacity: 0.7;
    width: 100vw;
    border-style: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;

}

.navbar .navbar-collapse {
    text-align: center;
}
/*********************************************** / HEADER *************************************************************/
