.produits {
	padding: 5%;
}

.produitsText {
	text-align: center;
  margin-left: 5%;
}

 .lensRight {
    width: 40%;
    height: 40%;
    margin: auto;
    margin-top: 5%;
}

.lensRight:hover {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

 .itunes {
     width: 25%;
 	height: 25%;
     margin-top: 10%;
     margin-left: 38%;
 }

 .android {
     width: 25%;
 	height: 25%;
     margin-top: 2%;
     margin-left: 38%;
 }

