.actu {
    text-align: center;
    padding: 5%;
}

.imgActu {
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 5%;
}

.imgActu:hover {
    cursor: pointer;
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Chrome, Safari, Opera */
    transform: scale(2.5);
    transition-duration: 1000ms;
    z-index: 1;
}