.produits {
	padding: 5%;

}

.produitsText {
	text-align: center;
  margin-left: 5%;
}

.lensRight {
    width: 40%;
    height: 40%;
    margin: auto;
    margin-top: 5%;
}

.lensRight:hover {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}


.video {
    margin-bottom: 5%;
    padding-right: 5%;

}
 .itunes {
     width: 10%;
 	height: 10%;
 	margin: auto;
     margin-top: 10%;
 }

 .android {
     width: 10%;
 	height: 10%;
 	margin: auto;
  margin-bottom: 15%;
 }
