.vid {
    width: auto;
    height: 50vh;
    border-radius: 5%;
    border: 2px solid #EE6616;

}

.txtGeo {
    font-size: 135%;
    text-align: center;
    font-family: DIN;
}

 .itunes {
    width: 50%;
    position: absolute;
    right: 0%;
 }

 .android {
    width: 50%;
 }

.titreNosProduits {
    font-family: DIN-Bold;
    color: #EE6616;
    margin-top: 25%;
    opacity: 0.5;
    transform: rotate(-90deg);
}

.titreGeo {
    text-align: center;
    margin-bottom: 5%;
    color: #EE6616;
    font-family: 'DIN';
    font-size: 400%
}


/* Bannière motifs */
.banner_motifs {
    margin:50px 0px 50px 0px;
    padding: 0 0 0 0;
}

.banner_motifs img {
    width:100%
    height: 100%;
    border-radius : 0px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.colors {
    display: inline-block;
    background-color: floralwhite;
    width: 100%;
    height: 100%;
}

