{% block contact %}

    <form method="POST" class="form" action="{{ path('email_Post') }}">
        <div class="form-group">
            <input type="Nom" class="form-control input-lg" id="Nom" placeholder="Nom *" aria-label="Votre nom"
                   required><br/>
        </div>
        <div class="form-group">
            <input type="Prenom" class="form-control input-lg" id="Prenom" placeholder="Prénom"
                   aria-label="Votre prénom" required><br/>
        </div>
        <div class="form-group">
            <input type="Entreprise" class="form-control input-lg" id="Entreprise" placeholder="Entreprise, Société, Organisme..." aria-label="Votre entreprise, société, organisme"><br/>
        </div>
        <div class="form-group">
            <input type="email" class="form-control input-lg" id="Email" placeholder="Email*"
                   aria-label="Votre email" required><br/>
        </div>
        <div class="form-group">
                    <textarea name="Message" class="form-control input-lg" placeholder="Message*" aria-label="Votre
                    message" rows="10" required></textarea><br/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-warning catForm" class="lien_submit">Envoyer</button>
        </div>
    </form>


{% endblock %}




