<footer id="background">
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- Button modal Crédit -->
                <a class="lienFooter" href="#myModal1" data-toggle="modal" data-target="#myModal1">Crédits</a><br/>
                <!-- Modal Crédit-->
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title" id="myModalLabel">Crédits</h2>
                            </div>
                            <div class="modal-body ">
                                <h3 class="titreMention">Photographie</h3>
                                <p class="pMention">
                                    Toutes les photos utilisés sur le site sont la propriété exclusive de M. Sylvain Lambert
                                </p>
                                <hr class="separe">

                                <h3 class="titreMention">Icônes et pictogrammes</h3>
                                <p class="pMention">
                                    Les icônes et pictogrammes utilisés sur le site sont libres de droits et
                                    issus du site <a href="www.icons8.com">www.icons8.com</a>
                                </p>
                                <hr class="separe">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pMentionblanc" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button modal Mentions légales-->
                <a class="lienFooter" href="#myModal" data-toggle="modal" data-target="#myModal">Mentions légales</a>
                <!-- Modal Mentions Légales-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title" id="myModalLabel">Mentions légales</h2>
                            </div>
                            <div class="modal-body ">
                                <h3 class="titreMention">Propriété</h3>
                                <p class="pMention">
                                    SAS m-Tourisme Ludique<br/>
                                    SIRET : 799135 O9O.00014<br/>
                                    R.C.S. : ORLEANS<br/>
                                    Adresse : 19 avenue d’Orléans 45450 DONNERY
                                </p>
                                <hr class="separe">

                                <h3 class="titreMention">Responsable de la publication</h3>
                                <p class="pMention">
                                    Sylvain Lambert<br/>
                                    contact@mtourisme-ludique.fr
                                </p>
                                <hr class="separe">

                                <h3 class="titreMention">Hébergement du site web</h3>
                                <p class="pMention">
                                    OVH<br/>
                                    2 rue Kellermann<br/>
                                    59100 Roubaix – France<br/>
                                    Contact : www.ovh.com/fr/support
                                </p>
                                <hr class="separe">

                                <h3 class="titreMention">Réalisation du site web</h3>
                                <p class="pMention">
                                    <span class="ecole">Wild Code school</span><br/>
                                    <a class="linkML" href="https://fr.linkedin.com/in/louise-munier-6057b057">Louise Munier</a><br/>
                                    <a class="linkML" href="https://fr.linkedin.com/in/guillaume-landreau-96520978">Guillaume Landreau</a><br/>
                                    <a class="linkML" href="https://fr.linkedin.com/in/mathieu-mercier">Mathieu Mercier</a><br/><br/>
                                    contact@wildcodeschool.fr<br/>
                                    <a class="linkML" href="http://www.wildcodeschool.fr/">www.wildcodeschool.fr</a>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pMentionblanc" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a class="lienFooter" href="#ancreMetier" id="metier">Notre métier</a><br/>
                <a class="lienFooter" href="#ancreProduit" id="produit">Géomotifs</a><br/>
                <a class="lienFooter" href="#ancreActu" id="actu">Actualités</a><br/>
                <a class="lienFooter" href="#ancreForm" id="nousContacter">Nous contacter</a>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p>Réalisé par :<br/></p>
                <a class="lienFooter" href="http://www.wildcodeschool.fr/" target="_blank">Wild Code School</a>
            </div>
        </div>
    </div>
</footer>
