<div class="sectionForm" id="ancreForm">
    <div class="row">
        {#<div class="col-lg-1 hidden-xs hidden-sm hidden-md titreContact">#}
            {#<h1>Contactez-nous</h1>#}
        {#</div>#}

        <!-- partie gauche -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 leftSide">
            <div class="row">

                <!-- Map -->
                <iframe class="map" width="625" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=1.8892514705657961%2C47.89133419118289%2C1.8968582153320315%2C47.8957799548847&amp;layer=mapnik&amp;marker=47.893557120745015%2C1.8930602073669434"></iframe><br/>
                <small><a  class="legendecarte" target="_blank" href="http://www.openstreetmap.org/?mlat=47.89356&amp;mlon=1.89306#map=17/47.89356/1.89305">Ouvrir la carte dans un nouvel onglet</a></small><br>

                <!-- Adresse MTL -->
                <div class="col-lg-offset-1 col-lg-7">
                    <p class="adresse">
                        m-Tourisme-Ludique est au Lab'O<br/>
                        1 Avenue du champs de Mars, Orléans<br/>
                    </p>
                </div>

                <!-- Logo Lab'O  -->
                <div class="col-lg-4 col-xs-12">
                    <a href="http://www.le-lab-o.fr/" target="_blank"><img src="{{ asset ('image/labO_logo_vect.png')}}" class="img-responsive logolabo" alt="logo Le Lab'O"></a>
                </div>

            </div>

        </div>

        <!-- partie droite : formulaire -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

            {% block contact %}
                {{ include('MTLBundle:Default:email.html.twig') }}
            {% endblock %}

        </div>
    </div>
</div>
