<header>
    <a href="{{ path('accueil') }}" class="lien_header">
        <div class="backgroundHeader" id="ancreHome" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0
                                col-sm-4 col-sm-offset-0
                                col-md-3 col-md-offset-0
                                col-lg-3 col-lg-offset-1 logo_header">
                            <img class="img-responsive logoHeader" src="{{ asset ('image/logoMblanc.png')}}" alt="Logo
                        mTourisme-Ludique">
                    </div>

                    <div class="col-xs-12 col-xs-offset-1
                                col-sm-7 col-sm-offset-1
                                col-md-9 col-md-offset-0
                                col-lg-8 col-lg-offset-0 logo_text">
                        <h1 class="marque">Tourisme Ludique</h1><br/>
                        <p class="slogan">CR&EacuteATION D'USAGES MOBILES LUDIQUES <br>
                                          APPLIQU&EacuteS AU TOURISME ET &Agrave LA CULTURE</p><br/>
                    </div>
                </div>
            </div>
        </div>
    </a>
</header>
