
<div class="container-fluid">
    <div class="sectionImage1">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4">
                <img class="guillemets1" src="{{ asset ('image/guillemets up.png')}}" alt="guillemets">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="textImage1">La connaissance est une richesse que l'on peut donner sans s'appauvrir</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-10 col-xs-2">
                <img class="guillemetsdown1" src="{{ asset ('image/guillemets down.png')}}" alt="guillemets">
            </div>
        </div>
    </div>
</div>