
<div class="container-fluid">
    <div class="hidden-xs hidden-sm sectionImage">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4">
                <img class="guillemets" src="{{ asset ('image/guillemets up.png')}}" alt="image guillemets">
            </div>
            <div class="col-xs-offset-1 col-xs-5">
                <img class="iphone hidden-xs hidden-sm img-responsive center-block" src="{{ asset ('image/iPhone-footer.png')}}"
                     alt="iphone geomotifs">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="textImage">Prenez le temps de lever la tête !</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-10 col-xs-2">
                <img class="guillemetsdown" src="{{ asset ('image/guillemets down.png')}}" alt="image guillemets">
            </div>
        </div>
    </div>
</div>