
<div class="container-fluid">
    <div class="hidden-xs sectionImage1">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4">
                <br/><br/>
                <img class="guillemets" src="{{ asset ('image/guillemets up.png')}}" alt="image guillemets">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="textImage1">La connaissance est une richesse qu'on peut donner sans s'appauvrir</p>
            </div>
        </div>
        <br/><br/><br/><br/><br/><br/>
        <div class="row">
            <div class="col-xs-offset-10 col-xs-2">
                <img class="guillemetsdown" src="{{ asset ('image/guillemets down.png')}}" alt="image guillemets">
            </div>
        </div>
    </div>
</div>