.point123 {
    border: 2px solid cornflowerblue;
}

.hidden-xs {
    display: ;
}

.hidden-sm {
    display: ;
}

.titre_trois_points {
    text-align: center;
}

.img_trois_points {
    margin: auto;
}

.text_trois_points {
    text-align: center;
}
