/* Notre philosophie */
p {
    font-size: 1.5em;
}

.notre_philo {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color:;
    text-align: center;
}

.liste_philo {
    font-size: 1.5em;
    text-align: left;
}


/* trois points */

.point123 {

}

.hidden-xs {
    display: ;
}

.hidden-sm {
    display: ;
}

.titre_trois_points {
    text-align: center;
}

.img_trois_points {
    margin: auto;
}

.text_trois_points {
    text-align: center;

}
