/*********************************************** HEADER ***************************************************************/
Header {
    background-image: url("../image/background-orange.JPG");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
    text-align: center;
    color: white;
}

/*Suppression image fixe pour iphone et ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    Header {
        background-attachment: scroll;
    }
}

/*Suppression image fixe pour Retina*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    Header {
        background-attachment: scroll;
    }
}

/*Suppression image fixe pour ipad 1&2*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){
    Header {
        background-attachment: scroll;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    Header {
        background-attachment: scroll;
    }
}


.row {
    margin-right: 0px;
}
.lien_header {
    text-decoration: none;
}

Header h1 {
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-weight: bold;
    color: white;
}

Header p {
    font-family: 'DIN-Light', 'Courgette';
    color: white;
}

.logo_header {
    margin-top:4% ;
    margin-bottom: 3%;
}

.logo_header img  {
    width: 50%;
    height: 50%;
    right: -30%;
    top: -30px;
    position: relative;
}

.logo_text {
    padding-top: 4%;
    padding-bottom: 2%;
    left: -15%;
}

.logo_text p {
    letter-spacing: 8px;
    line-height: 1.2;
    font-size: 150%;
}

@media screen and (max-width:1580px ){
    Header h1 {
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
    }

    Header p {
        font-family: 'DIN-Light', 'Courgette';
    }

    .logo_header {
        margin-top:7% ;
        margin-bottom: 5%;
    }

    .logo_header img  {
        width: 70%;
        height: 70%;
        right: -20px;
        top: -20px;
        position: relative;
    }

    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
        left: -10%;
    }

    .logo_text p {
        letter-spacing: 8px;
        line-height: 1.2;
        font-size: 150%;
    }
}

@media screen and (max-width:1285px ){
    Header h1 {
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
    }

    Header p {
        font-family: 'DIN-Light', 'Courgette';
    }

    .logo_header {
        margin-top:7% ;
        margin-bottom: 5%;
    }

    .logo_header img  {
        width: 70%;
        height: 70%;
        right: 15%;
        top : 5%;
        position: relative;
    }

    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
        left: -10%;
    }

    .logo_text p {
        letter-spacing: 8px;
        line-height: 1.2;
        font-size: 150%;
    }
}

@media screen and (max-width:990px ) {
    Header h1 {
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
    }

    Header p {
        font-family: 'DIN-Light', 'Courgette';
    }

    .logo_header {
        margin-top:7% ;
        margin-bottom: 5%;
    }

    .logo_header img  {
        width: 70%;
        height: 70%;
        right: -45%;
        top: 0;
        position: relative;
    }

    .logo_text {
        font-size: 70%;
        padding-top: 10%;
        padding-bottom: 7%;
        left: -5%;
    }


    .logo_text p {
        letter-spacing: 6px;
        line-height: 1.2;
        font-size: 150%;
    }
}

@media screen and (max-width:800px ) {
    Header h1 {
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
    }

    Header p {
        font-family: 'DIN-Light', 'Courgette';
    }

    .logo_header {
        margin-top:7% ;
        margin-bottom: 5%;
        height: 200%;
    }

    .logo_header img  {
        width: 200%;
        height: 200%;
        right: -30% ;
        top: -5% ;
        position: relative;
    }

    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
        left: -10%;
    }


    .logo_text p {
        letter-spacing: 6px;
        line-height: 1.2;
        font-size: 110%;
    }
}

@media screen and (max-width:768px ) {
    Header h1 {
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
    }

    Header p {
        font-family: 'DIN-Light', 'Courgette';
    }

    .logo_header {
        margin-top:2% ;
        margin-bottom: 5%;
        height: 100%;
    }

    .logo_header img  {
        width: 25%;
        height: 25%;
        right: 25px ;
        top: -85% ;
        position: relative;
    }

    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
        left: -10%;
        top: -140px;
        font-size: 80%;
    }


    .logo_text p {
        letter-spacing: 6px;
        line-height: 1.5;
        font-size: 100%;

    }
}

@media screen and (max-width:360px ) {
    Header h1 {
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
    }

    Header p {
        font-family: 'DIN-Light', 'Courgette';
    }

    .logo_header {
        margin-top:7% ;
        margin-bottom: 5%;
        height: 200%;
    }

    .logo_header img  {
        width: 50%;
        height: 50%;;
        top: -5% ;
        right: 0%;
        position: relative;
    }

    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
    }


    .logo_text p {
        letter-spacing: 6px;
        line-height: 1.2;
        font-size: 130%;
    }
}

.logoHeader {
    width: 12%;
    height: 12%;
    margin: auto;
}

.marque {
    font-size: 600%;
}

.slogan {
    font-size: 300%;
}

.navbar {
    text-align: center;
    font-family: 'DIN';
    font-size: 200%;
    z-index: 999;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    opacity: 0.7;
    width: 100%;
    color: white;
}

.titreMenu {

}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    color: white;
}

.navbar .navbar-collapse {
    text-align: center;
    color: white;
}

.lienMenu {
    color: white;
}

.lienMenu:hover {
    text-decoration: none;
    color: white;
}

.lienMenu:active {
    text-decoration: none;
    color: white;
}

.lienMenu:focus {
    text-decoration: none;
    color: white;
}

/*********************************************** / HEADER *************************************************************/
