/*.iphone {
    position: relative;
    top: 190%;
    left: 50%;
    width: 35%;
    height: 35%;
}*/

p {
    font-size: 150%;
}

body {
    color: #000;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}