/*.iphone {
    position: relative;
    top: 190%;
    left: 50%;
    width: 35%;
    height: 35%;
}*/

p {
    font-size: 150%;
}

body {
    color: #000;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

h2 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 3%;
    margin-top: 3%;
    color: #EE6616;
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-weight: bold;
}