/*********************************************** HEADER ***************************************************************/
Header {
    background-image: url("../image/background-orange.JPG");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 40%;
    text-align: center;
    color: white;
}

/* lien dirigeant vers la page d'accueil */
.lien_header {
    text-decoration: none;
}

Header p {
    font-family: 'DIN-Light', 'Courgette';
    color: white;
}

/***** balise du logo MTL *****/
.logo_header {
    margin-top:6% ;
}

.logo_header img  {
    width: 60%;
    height: 60%;
    right: -7%;
    top: 3.2em;
    position: relative;
}
/***** fin balise logo MT *****/

/***** balise textes logo MTL *****/
.logo_text {
    padding-top: 10%;
    padding-bottom: 7%;
    left: -10%;
}

.logo_text p {
    letter-spacing: 8px;
    line-height: 1.4;
    font-size: 220%;
}

/* Titre H1 "Tourisme Ludique" */
.marque {
    font-size: 800%;
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-weight: bold;
    color: white;
}
/***** fin balise textes logo MTL *****/


@media screen and (max-width:1750px ) {
    /***** balise du logo MTL *****/
    .logo_header {
        margin-top:6% ;
    }

    .logo_header img  {
        width: 60%;
        height: 60%;
        right: -7%;
        top: 3.2em;
        position: relative;
    }
    /***** fin balise logo MT *****/

    /***** balise textes logo MTL *****/
    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
        left: -10%;
    }

    .logo_text p {
        letter-spacing: 8px;
        line-height: 1.4;
        font-size: 200%;
    }

    /* Titre H1 "Tourisme Ludique" */
    .marque {
        font-size: 700%;
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
        color: white;
    }
    /***** fin balise textes logo MTL *****/
}

@media screen and (max-width:1450px ) {
    /***** balise du logo MTL *****/
    .logo_header {
        margin-top:6% ;
    }

    .logo_header img  {
        width: 60%;
        height: 60%;
        right: -7%;
        top: 3.2em;
        position: relative;
    }
    /***** fin balise logo MT *****/

    /***** balise textes logo MTL *****/
    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
        left: -10%;
    }

    .logo_text p {
        letter-spacing: 8px;
        line-height: 1.4;
        font-size: 180%;
    }

    /* Titre H1 "Tourisme Ludique" */
    .marque {
        font-size: 600%;
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
        color: white;
    }
    /***** fin balise textes logo MTL *****/
}

@media screen and (max-width:1250px ) {
    /***** balise du logo MTL *****/
    .logo_header {
        margin-top: ;
    }

    .logo_header img  {
        width: 60%;
        height: 60%;
        right: -7%;
        top: 3.2em;
        position: relative;
    }
    /***** fin balise logo MT *****/

    /***** balise textes logo MTL *****/
    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
        left: -10%;
    }

    .logo_text p {
        letter-spacing: 8px;
        line-height: 1.2;
        font-size: 160%;
    }

    /* Titre H1 "Tourisme Ludique" */
    .marque {
        font-size: 500%;
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
        color: white;
    }
    /***** fin balise textes logo MTL *****/
}

@media screen and (max-width:1050px ) {
    /***** balise du logo MTL *****/
    .logo_header {
        margin-top:6% ;
    }

    .logo_header img  {
        width: 60%;
        height: 60%;
        right: -7%;
        top: 3.2em;
        position: relative;
    }
    /***** fin balise logo MT *****/

    /***** balise textes logo MTL *****/
    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
        left: -10%;
    }

    .logo_text p {
        letter-spacing: 8px;
        line-height: 1.2;
        font-size: 140%;
    }

    /* Titre H1 "Tourisme Ludique" */
    .marque {
        font-size: 500%;
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
        color: white;
    }
    /***** fin balise textes logo MTL *****/
}

@media screen and (max-width: 960px ) {
    /***** balise du logo MTL *****/
    .logo_header {
        margin-top:6% ;
    }

    .logo_header img  {
        width: 50%;
        height: 50%;
        right: -7%;
        top: 3.2em;
        position: relative;
    }
    /***** fin balise logo MT *****/

    /***** balise textes logo MTL *****/
    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
        left: -10%;
    }

    .logo_text p {
        letter-spacing: 8px;
        line-height: 1.2;
        font-size: 120%;
    }

    /* Titre H1 "Tourisme Ludique" */
    .marque {
        font-size: 400%;
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
        color: white;
    }
    /***** fin balise textes logo MTL *****/
}


@media screen and (max-width: 800px ) {
    /***** balise du logo MTL *****/
    .logo_header {
        margin-top:6% ;
    }

    .logo_header img  {
        width: 55%;
        height: 55%;
        right: -5em;
        top: 2em;
        position:relative;
    }
    /***** fin balise logo MT *****/

    /***** balise textes logo MTL *****/
    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
    }

    .logo_text p {
        letter-spacing: 2px;
        line-height: 1.2;
        font-size: 110%;
    }

    /* Titre H1 "Tourisme Ludique" */
    .marque {
        font-size: 300%;
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
        color: white;
    }
    /***** fin balise textes logo MTL *****/
}

@media screen and (max-width: 750px ) {
    /***** balise du logo MTL *****/
    .logo_header {
        margin-top:6% ;
    }

    .logo_header img  {
        width: 40%;
        height: 40%;
        margin: 0;
        left: 30%;
    }
    /***** fin balise logo MT *****/

    /***** balise textes logo MTL *****/
    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
    }

    .logo_text p {
        letter-spacing: 2px;
        line-height: 1.5em;
        font-size: 150%;
    }

    /* Titre H1 "Tourisme Ludique" */
    .marque {
        font-size: 450%;
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
        color: white;
    }
    /***** fin balise textes logo MTL *****/
}

@media screen and (max-width: 680px ) {
    /***** balise du logo MTL *****/
    .logo_header {
        margin-top:6% ;
    }

    .logo_header img  {
        width: 40%;
        height: 40%;
        margin: 0;
        left: 30%;
        margin-bottom: -5%;
    }
    /***** fin balise logo MT *****/

    /***** balise textes logo MTL *****/
    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
    }

    .logo_text p {
        letter-spacing: 2px;
        line-height: 1.5em;
        font-size: 150%;
    }

    /* Titre H1 "Tourisme Ludique" */
    .marque {
        font-size: 400%;
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
        color: white;
    }
    /***** fin balise textes logo MTL *****/
}

@media screen and (max-width: 500px ) {
    /***** balise du logo MTL *****/
    .logo_header {
        margin-top:6% ;
    }

    .logo_header img  {
        width: 40%;
        height: 40%;
        margin: 0;
        left: 30%;
        margin-bottom: -5%;
    }
    /***** fin balise logo MT *****/

    /***** balise textes logo MTL *****/
    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
    }

    .logo_text p {
        letter-spacing: 2px;
        line-height: 1.2em;
        font-size: 120%;
    }

    /* Titre H1 "Tourisme Ludique" */
    .marque {
        font-size: 300%;
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
        color: white;
    }
    /***** fin balise textes logo MTL *****/
}

@media screen and (max-width: 410px ) {
    /***** balise du logo MTL *****/
    .logo_header {
        margin-top:6% ;
    }

    .logo_header img  {
        width: 40%;
        height: 40%;
        margin: 0;
        left: 30%;
        margin-bottom: -5%;
    }
    /***** fin balise logo MT *****/

    /***** balise textes logo MTL *****/
    .logo_text {
        padding-top: 10%;
        padding-bottom: 7%;
    }

    .logo_text p {
        letter-spacing: 2px;
        line-height: 1.2em;
        font-size: 100%;
    }

    /* Titre H1 "Tourisme Ludique" */
    .marque {
        font-size: 250%;
        font-family: 'santorregular', 'DIN-Bold', 'Courgette';
        font-weight: bold;
        color: white;
    }
    /***** fin balise textes logo MTL *****/
}

.logoHeader {
width: 12%;
height: 12%;
margin: auto;
}

.slogan {
    font-size: 300%;
}

.navbar {
    border-radius: 0%;
    text-align: center;
    font-family: 'DIN';
    font-size: 200%;
    z-index: 999;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    opacity: 0.7;
    width: 100%;
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    color: white;
}

.navbar .navbar-collapse {
    text-align: center;
    color: white;
}

.lienMenu {
    color: white;
}

.lienMenu:hover {
    text-decoration: none;
    color: white;
}

.lienMenu:active {
    text-decoration: none;
    color: white;
}

.lienMenu:focus {
    text-decoration: none;
    color: white;
}

/*********************************************** / HEADER *************************************************************/
