.sectionImage {
	background-image: url(../image/BESTOF31.jpg);
	background-attachment: fixed;
	background-size: cover;
    width: 100%;
	margin-top: 5%;
}

.textImage {
	font-style: italic;
	font-family: 'DIN';
	text-align: center;
	margin: auto;
	font-size: 300%;
	color: #000;
	padding: 0px;
}

.guillemets {
	margin-top: 5%;
	width: 24%;
}

.guillemetsdown {
	width: 50%;
	height: 70%;
	margin-top: 40%;
	margin-bottom: 5%;
}

.iphone {
	position: relative;
	bottom: 140px;
	width: 65%;
	margin: 0px;
	margin-right: 0px;
}

.row {
	margin: 0px;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

/*Suppression image fixe pour iphone et ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
	.sectionImage {
		background-attachment: scroll;
	}
}

/*Suppression image fixe pour Retina*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
	.sectionImage {
		background-attachment: scroll;
	}
}

/*Suppression image fixe pour ipad 1&2*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){
	.sectionImage {
		background-attachment: scroll;
	}
}

/* Iphone 4 et 4S */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
	.sectionImage {
		background-attachment: scroll;
	}
	.textImage {
		font-size: 200%;
	}
}

/* Iphone 5 et 5S */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
	.sectionImage {
		background-attachment: scroll;
	}
	.textImage {
		font-size: 200%;
	}
}

/*Iphone 6*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
	.sectionImage {
		background-attachment: scroll;
	}
	.textImage {
		font-size: 200%;
	}
}

/* Iphone 6+ */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
	.sectionImage {
		background-attachment: scroll;
	}
	.textImage {
		font-size: 200%;
	}
}