body {
    background-image: url("../image/game-image-opaque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.row {
    margin-right: 0px;
}

.container {
    background-color: RGBA(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px dimgrey;
}

.titreActualités {
    text-transform: uppercase;
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-weight: bold ;
}

.titreActu {
    color: #EE6616;
    font-family: 'DIN-Light', 'Courgette';
    font-weight: bold;
}

.contenu {
    text-align: left;
}

a.link {
    text-decoration: none;
    color: #000;
}

a.link:hover {
    text-decoration: none;
    color: #000;
}

a.link:visited {
    text-decoration: none;
    color: #000;
}

.date {
    font-size: 120%;
    text-align: right;
}

.back {
    text-align: left;
}

.img-actu {
    width: 35%;
    margin-left: 32%;
}

/*.img-actu:active {
    transform: scale(3);
    z-index: 1000;
    border: solid 1px #EE6616;
    border-radius: 3px;
    box-shadow: 5px 5px 10px black;
    transition-duration: 1s;
}*/

hr {
    color: #EE6616;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(238, 102, 22, 0.75), rgba(0, 0, 0, 0));
}

img {
    width: 35%;
    height: 32%;
}



h1 {
    font-family: 'DIN-Light', 'Courgette';
    font-size: 180%;
}

/*Eliminates padding, centers the thumbnail */

body, html {
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Styles the thumbnail */

a.lightbox img {
    height: 150%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 80%;
    max-width: 80%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:12px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:12px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
}

.lightbox-target:target img {
    max-height: 200%;
    max-width: 200%;
}

.lightbox-target:target a.lightbox-close {
    top: 0px;
}