video {
    border-radius: 3%;
}

.embed-responsive {
    margin: 0 auto;
    width: 100%;
}

.txtGeo {
    text-align: left;
    padding-right: 5%;
    font-size: 160%;
}

.txtGeo::first-letter {
    font-size: 150%;
    font-family: 'santorregular';
    font-weight: bold;
    color: #EE6616;
}

.linkYT {
    color: inherit;
}

.linkYT:hover {
    color: #EE6616
}

.linkYT:focus {
    color: #EE6616;
}

.geomotifs {
    font-weight: bold;
    color: #EE6616;
}

.titreProduit {
    font-size: 210%;
    text-align: center;
    font-family: 'DIN-Bold', 'Courgette', Arial;
}

.motAccroche {
    font-weight: normal;
}

.citation {
    font-style: italic;
    font-size: 100%;
}

.citationLeft {
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
    color: rgb(241, 81, 27);
    /*text-shadow: 1px 1px 1px rgba(78, 78, 78, 0.5);*/
}

.citationRight {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 5%;
    text-align: right;
    color: rgb(241, 81, 27);
    /*text-shadow: 1px 1px 3px rgba(78, 78, 78, 0.4);*/
}

.separe {
     color: #EE6616;
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(238, 102, 22, 0.75), rgba(0, 0, 0, 0));
 }

.titreDownload {
    margin-bottom: 3%;
    font-size: 210%;
    text-align: center;
    font-family: 'DIN-Bold', 'Courgette', Arial;
}

.txtFB {
    margin-bottom: 1%;
    font-size: 200%;
    text-align: center;
    text-decoration: none;
    color: black;
}


.fb-page{
    margin-top: 7%;
    margin-bottom: 7%;
}

.facebook {
    color: blue;
    font-style: italic;
}

.remerciement {
    color: #EE6616;
   /* padding-top: 5%;
    padding-right: 45%; */
}

.sponsors {
    margin: 0 auto;
    margin-bottom: 20%;
}

.espace {
    width: 500px;
}
