.sectionForm {
    padding-top: 5%;
    padding-bottom: 5%;
    color: #0f0f0f;
    background-image: url("../image/P1060347.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    font-family: 'DIN';
}

/*Suppression image fixe pour iphone et ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .sectionForm {
        background-attachment: scroll;
    }
}

/*Suppression image fixe pour Retina*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sectionForm {
        background-attachment: scroll;
    }
}

/*Suppression image fixe pour ipad 1&2*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){
    .sectionForm {
        background-attachment: scroll;
    }
}

/* Iphone 4 et 4S */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sectionForm {
        background-attachment: scroll;
    }
}

/* Iphone 5 et 5S */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sectionForm {
        background-attachment: scroll;
    }
}

/*Iphone 6*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sectionForm {
        background-attachment: scroll;
    }
}

/* Iphone 6+ */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .sectionForm {
        background-attachment: scroll;
    }
}


.leftSide {
    text-align: center;
    font-size: 150%;
}

.titreContact {
    font-family: DIN-Bold;
    color: #EE6616;
    margin-top: 25%;
    opacity: 0.5;
    transform: rotate(-90deg);
}

.logolabo {
    width: 50%;
    height: 50%;
}

.adresse {
    color: #EE6616;
    text-align: center;
    font-size: 120%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left:10%;
    background-color: rgba(255, 255, 255, 0.5);

    background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); /* Safari */
    background: -o-radial-gradient(circle, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); /* Standard syntax */
}

.linkAdresse {
    color: #EE6616;
    text-decoration: none;
}

.linkAdresse:hover{
    color: #EE6616;
}

.linkAdresse:focus{
    color: #EE6616;
}

.map {
    margin-top: 3%;
    border: 2px solid #EE6616;
    box-shadow: 2px 2px 5px dimgrey;
}

.legendecarte {
    font-size: 80%;
    color: #EE6616;
}

.legendecarte:hover {
    color: #EE6616;
}

.catForm {
    font-family: 'DIN';
    border-radius:7px;
}

.lien_submit {
    text-decoration: none;
    color: white;
    margin-top: 10%;
}

/* classe des champs */
.form-group {
    margin-right: 0%;
    width:210%;
    margin-top: 8%;
    box-shadow: 2px 2px 5px dimgrey;
}

/* class du bouton submit */
.form-submit {
    box-shadow: 2px 2px 5px dimgrey;
    position: relative;
    margin-top: 10%;
}

.btn{
    margin-left: 90%;
    background-color: #EE6616;
    font-size: 150%;
}

.input-lg {
    font-size: 150%;
    padding-bottom: 2%;
}

.texte_require {
    color: grey;
    font-size: 130%;
}

@media screen and (max-width:1300px ) {
    .total_form {
        margin-left:5%;
    }

    /* classe des champs */
    .form-group {
        width:200%;
        box-shadow: 2px 2px 5px dimgrey;
    }

    /* class du bouton submit */
    .form-submit {
        box-shadow: 2px 2px 5px dimgrey;
        position: relative;
        left:40%;
        margin-top: 10%;
    }

    .btn{
        margin-left: 40%;
        background-color: #EE6616;
        font-size: 110%;
    }

    .input-lg {
        font-size: 110%;
        padding-bottom: 2%;
    }
}

@media screen and (max-width:1200px ) {

    .total_form {
        margin:0;
    }

    /* classe des champs */
    .form-group {
        width:95%;;
        box-shadow: 2px 2px 5px dimgrey;
        margin: 5%;
        border-radius: 7%;
    }

    .input_message {

    }

    /* class du bouton submit */
    .form-submit {
        box-shadow: 2px 2px 5px dimgrey;
        left:45%;
        margin-top: 0 ;
    }

    .btn{
        margin-left: 0%;
        background-color: #EE6616;
        font-size: 150%;
    }

    .input-lg {
        font-size: 130%;
        padding-bottom: 2%;
        margin-top: -2%;
        margin-bottom: -2%;
        height: 50%;
    }

    .logolabo {
        width: 20%;
        height: 20%;
    }

    .texte_require {
        padding-top: 0%;
        margin-left: 5%;
    }
}

@media screen and (max-width:1000px ) {
    .logolabo {
        width: 20%;
        height: 20%;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 40%;
    }

    .input-lg {
        font-size: 150%;
        padding-bottom: 2%;
        height: 30%;
    }
}

@media screen and (max-width:800px ) {
    .logolabo {
        width: 20%;
        height: 20%;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 40%;
    }

    .input-lg {
        font-size: 150%;
        padding-bottom: 2%;
        height: 20%;
    }
}

@media screen and (max-width: 700px ) {
    .logolabo {
        width: 20%;
        height: 20%;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 40%;
    }

    .input-lg {
        font-size: 150%;
        padding-bottom: 2%;
        height: 20%;
    }

    .btn {
        margin-left: -7%;
        background-color: #EE6616;
        font-size: 150%;
    }
}
