.sectionImage1 {
    background-image: url(../image/game-image-opaque.jpg);;
    background-attachment: fixed;
    background-size: cover;
    height: 60%;
    width: 100%;
}

.textImage1 {
    font-style: italic;
    font-family: 'DIN';
    text-align: center;
    margin-top: 4%;
    font-size: 400%;
    color: #000;
}

.guillemets1 {
    margin-top: 5%;
    width: 24%;
}

.guillemetsdown1 {
    width: 50%;
    height: 70%;
    margin-top: 30%;
}

/*Suppression image fixe pour iphone et ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .sectionImage1 {
        background-attachment: scroll;
    }
}

/*Suppression image fixe pour Retina*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sectionImage1 {
        background-attachment: scroll;
    }
}

/*Suppression image fixe pour ipad 1&2*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){
    .sectionImage1 {
        background-attachment: scroll;
    }
}

/*Iphone 4 et 4S */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sectionImage1 {
        background-attachment: scroll;
    }
}

/*Iphone 5 et 5S */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sectionImage1 {
        background-attachment: scroll;
    }
}

/*Iphone 6*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sectionImage1 {
        background-attachment: scroll;
    }
}

/* Iphone 6+ */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .sectionImage1 {
        background-attachment: scroll;
    }
}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sectionImage1 {
        background-attachment: scroll;
    }
}