.new_actu_title {
    text-align: center;
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-size: 3.5em;
    border: 2px solid rgba(255, 255, 255, 0);
}

ul {
    list-style-type: none;
}

.new {
    text-align: center;
}

.img {
    text-align: left;
}

.contenu {
    text-align: left;
}