h1 {
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 20px 24px; /* Nombre de pixels d'espace horizontal (5px), vertical (8px) */
}

td {
    text-align: center;

}

th {
    text-align: center;
    font-family: 'DIN-Bold', 'Courgette';
    font-size: 120%;
}

.contenu {
    text-align: left;
}

ul {
    list-style-type: none;
}