video {
    border-radius: 1%;
}

.txtGeo {
    text-align: left;
    padding-left: 3%;
    padding-right: 5%;
}

.txtGeo::first-letter {
    font-size: 150%;
    font-family: 'santorregular';
    font-weight: bold;
    color: #EE6616;
}

.linkYT {
    color: inherit;
}

.linkYT:hover {
    color: #EE6616
}

.linkYT:focus {
    color: #EE6616;
}


.geomotifs {
    font-weight: bold;
    color: #EE6616;
}

.titreGeo {
    text-align: center;
    font-size: 300%;
    margin-bottom: 3%;
    margin-top: 3%;
    color: #EE6616;
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-weight: bold;
}

.titreProduit {
    font-size: 210%;
    text-align: center;
    font-family: 'DIN-Bold', 'Courgette', Arial;
}

.motAccroche {
    font-weight: normal;
}

.citation {
    font-style: italic;
    font-size: 120%;
}

.citationLeft {
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
}

.citationRight {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 5%;
    text-align: right;
}

.separe {
     color: #EE6616;
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(238, 102, 22, 0.75), rgba(0, 0, 0, 0));
 }

.titreDownload {
    margin-bottom: 3%;
    font-size: 210%;
    text-align: center;
    font-family: 'DIN-Bold', 'Courgette', Arial;
}

.txtFB {
    margin-bottom: 3%;
    font-size: 200%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.remerciement {
    color: #EE6616;
    padding-top: 5%;
}