.sectionImage {
	background-image: url(../image/game-image-opaque.jpg);
	background-attachment: fixed;
	background-size: cover;
	height: 70vh;
    width: 100vw;
}

.textImage {
	font-style: italic;
	font-family: 'DIN';
	text-align: center;
	margin: auto;
	font-size: 420%;
	color: #000;
}

.guillemets {
	width: 24%;
}

.guillemetsdown {
    width: 50%;
    height: 70%;
}

.iphone {
	position: relative;
	bottom: 140px;
	left: 30%;
	width: 65%;
}