.show_actu_title {
    text-align: center;
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-size: 3.5em;
    padding-left: 100px;
    border: 2px solid rgba(255, 255, 255, 0);
}

table {
    border-collapse: separate;
    border-spacing: 20px 40px; /* Nombre de pixels d'espace horizontal (5px), vertical (8px) */
}

td {
    text-align: center;

}

th {
    text-align: center;
    font-family: 'DIN-Bold', 'Courgette';
    font-size: 150%;
}

.contenu {
    text-align: left;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
}

.bouton {
    text-align: center;
}

.id {
    font-size: 1.2em;
    font-weight: bold;
}

.titre {
    font-size: 1.8em;
    font-weight: bold;
}

.date {
    font-size: 1.5em;
    font-weight: bold;
}

.image {
    width: 35%;
}