body {
    background-image: url("../image/game-image-opaque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: RGBA(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px dimgrey;
}

.titreActualités {
    text-transform: uppercase;
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-weight: bold ;
}

.titreActu {
    color: #EE6616;
    font-family: 'DIN-Light', 'Courgette';
    font-weight: bold;
}

.contenu {
    font-size: 180%;
    font-family: 'DIN-Light', 'Courgette';
}

.date {
    font-size: 120%;
}

.back {
    text-align: left;
}

.img-actu {
    width: 35%;
    margin-left: 32%;
}

hr {
    color: #EE6616;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(238, 102, 22, 0.75), rgba(0, 0, 0, 0));
}

img {
    width: 35%;
    height: 32%;
}