/* Notre philosophie */
.titreMetier {
    font-size: 300%;
    margin-bottom: 3%;
}

.notre_philo {
    font-family: 'DIN';
}

.txt-presentation {
    font-size: 180%;
    margin-bottom: 1%;
}

.notre_philo {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color:;
    text-align: center;
}

.liste_philoA {
    margin-top: 3%;
    font-size: 170%;
    text-align: right;
    margin-bottom: 3%;
    list-style: none;
    color: #f1511bff;
}


.liste_philoB {
    margin-top: 3%;
    font-size: 170%;
    text-align: left;
    margin-bottom: 3%;
    list-style: none;
}


/* trois points */

.titre_trois_points {
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}

.titrePoint {

    font-family: DIN-Bold;
}

.txtPoint {
    font-size: 130%;
    margin-bottom: 60px;
}

.img_trois_points {
    margin: auto;
    perspective: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img_trois_points:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 0.6s;
    position: relative;
}

.text_trois_points {
    text-align: center;
}

.banner_trois_points {

    background-image: url("../image/img_archi/ruelle_paysage_n&b_opacité75_2500x1018.jpeg");
    background-color: none;
    background-attachment: fixed;
    padding-top : 20px;
    padding-bottom: 20px;
    font-family: 'DIN';
    font-size: 120%;

}


