.vid {
    width: auto;
    height: 50vh;
    border-radius: 5%;
    border: 2px solid #EE6616;

}

.txtGeo {
    text-align: left;
}

.geomotifs {
    font-weight: bold;
    color: #EE6616;
}


.titreNosProduits {
    font-family: DIN-Bold;
    color: #EE6616;
    margin-top: 25%;
    opacity: 0.5;
    transform: rotate(-90deg);
}

.titreGeo {
    text-align: center;
    margin-bottom: 5%;
    color: #EE6616;
    font-family: 'DIN';
    font-size: 400%
}

.titreProduit {
    font-size: 200%;
    text-align: center;
}

.citation {
    font-style: italic;
    font-size: 90%;
}

.citationLeft {
    margin-top: 5%;
    margin-left: 15%;
    text-align: left;
    transform: rotate(-5deg);
}

.citationRight {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    text-align: right;
    transform: rotate(5deg);

}

.separe {
     color: #EE6616;
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(238, 102, 22, 0.75), rgba(0, 0, 0, 0));
 }

.titreDownload {
    margin-bottom: 3%;
    font-size: 200%;
    text-align: center;
}

.linkGeo {
    margin-left: 40%;
}

.txtFB {
    margin-bottom: 3%;
    font-size: 200%;
    text-align: center;
}

.fb-page {
    margin-left: 32%;
}

.remerciement {
    color: #EE6616;
    padding-top: 5%;
}