.sectionForm {
    padding-top: 5%;
    padding-bottom: 5%;
    color: #0f0f0f;
    background-image: url("../image/P1060347.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    font-family: 'DIN';
}

.leftSide {
    text-align: center;
    font-size: 150%;
}

.titreContact {
    font-family: DIN-Bold;
    color: #EE6616;
    margin-top: 25%;
    opacity: 0.5;
    transform: rotate(-90deg);
}

.logolabo {
    width: 50%;
    height: 50%;
}

.adresse {
    color: #EE6616;
    text-align: center;
    font-size: 120%;
}

.map {
    margin-top: 3%;
    border: 1px solid #EE6616;
    box-shadow: 2px 2px 5px dimgrey;
}

.legendecarte {
    font-size: 80%;
    color: #EE6616;
}

.legendecarte:hover {
    color: #EE6616;
}

.catForm {
    font-family: 'DIN';
    border-radius:7px;
}

.lien_submit {
    text-decoration: none;
    color: white;
}

.form-group {
    margin-right: 0%;
    width:210%;
    padding-top: 5%;
}

.titreForm {
    font-weight: bold;
    text-align: center;
    font-family: 'DIN';
}

.accrocheForm {
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    font-family: 'DIN';
    width:200%;
}

.btn{
    margin-left: 40%;
    background-color: #EE6616;
    font-size: 150%;
}

.input-lg {
    font-size: 150%;
}

.texte_require {
    color: grey;
    font-size: 130%;
}