.sectionForm {
    padding-top: 5%;
    padding-bottom: 5%;
    color: #0f0f0f;
    background-image: url("../image/P1060347.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    font-family: 'DIN';
}

.leftSide {
    text-align: center;
    font-size: 150%;
}

.titreContact {
    font-family: DIN-Bold;
    color: #EE6616;
    margin-top: 25%;
    opacity: 0.5;
    transform: rotate(-90deg);
}

.logolabo {
    width: 50%;
    height: 50%;
}

.adresse {
    color: #EE6616;
    text-align: center;
    font-size: 120%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left:10%;
    background-color: rgba(255, 255, 255, 0.5);

    background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); /* Safari */
    background: -o-radial-gradient(circle, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); /* Standard syntax */
}

.map {
    margin-top: 3%;
    border: 2px solid #EE6616;
    box-shadow: 2px 2px 5px dimgrey;
}

.legendecarte {
    font-size: 80%;
    color: #EE6616;
}

.legendecarte:hover {
    color: #EE6616;
}

.catForm {
    font-family: 'DIN';
    border-radius:7px;
}

.lien_submit {
    text-decoration: none;
    color: white;
    margin-top: 10%;
}

.form-group {
    margin-right: 0%;
    width:210%;
    margin-top: 8%;
    box-shadow: 2px 2px 5px dimgrey;
}

.form-submit {
    box-shadow: 2px 2px 5px dimgrey;
    position: relative;
    left:40%;
    margin-top: 10%;
}

.titreForm {
    font-weight: bold;
    text-align: center;
    font-family: 'DIN';
}

.accrocheForm {
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    font-family: santorregular,'DIN';
    font-size: 220%;
    width:200%;
}

.btn{
    margin-left: 40%;
    background-color: #EE6616;
    font-size: 150%;
}

.input-lg {
    font-size: 150%;
    padding-bottom: 2%;
}

.texte_require {
    color: grey;
    font-size: 130%;
}