.sectionImage1 {
    background-image: url(../image/game-image-opaque.jpg);;
    background-attachment: fixed;
    background-size: cover;
    height: 60%;
    width: 100%;
}

.textImage1 {
    font-style: italic;
    font-family: 'DIN';
    text-align: center;
    margin-top: 4%;
    font-size: 400%;
    color: #000;
}

.guillemets1 {
    margin-top: 5%;
    width: 24%;
}

.guillemetsdown1 {
    width: 50%;
    height: 70%;
    margin-top: 30%;
}