/* Notre philosophie */
.notre_philo {
    font-family: 'DIN';
}

.txt-presentation {
    font-size: 150%;
    margin-bottom: 1%;
}

.accrocheMetier {
    font-weight: normal;
    color: #EE6616;
}

.noBold {
    font-weight: normal;
}

.notre_philo {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.liste_philoA {
    margin-top: 3%;
    font-size: 170%;
    text-align: right;
    margin-bottom: 3%;
    list-style: none;
    color: #f1511bff;
}


.liste_philoB {
    margin-top: 3%;
    font-size: 170%;
    text-align: left;
    margin-bottom: 3%;
    list-style: none;
}

/* trois points */

.titre_trois_points {
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}

.titrePoint {
    font-family: DIN-Bold;
    font-size: 180%;
}

.txtPoint {
    font-size: 150%;
    margin-bottom: 60px;
}

.img_trois_points {
    margin: auto;
    perspective: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img_trois_points:hover {
    transform: scale(1.2);
    transition: 0.4s;
    position: relative;
}

.text_trois_points {
    text-align: center;
}

/* message flash */
.message_flash {
    text-align: center;
    box-shadow: 1px 1px 5px #DBD0D0;
    border-radius: 8px ;
    width:60%;
    margin:auto;
    font-size: 1.5em;
}


