h1 {
    text-align: center;
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-size: 3.5em;
}

ul {
    list-style-type: none;
}

.new {
    text-align: center;
}

.img {
    text-align: left;
}

.contenu {
    text-align: left;
}