.edit_actu_title {
    text-align: center;
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-size: 3.5em;
    border: 2px solid rgba(255, 255, 255, 0);

}

.edit {
    text-align: center;
}

ul {
    list-style-type: none;
}


.img {
 text-align: left;
}

.contenu {
    text-align: left;
}