@keyframes focus {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(25deg);}
    50%  {transform: rotate(-15deg); }
    100% {transform: rotate(0deg);}
}

@keyframes focus-blur {
    0%   {filter:blur(0);}
    25%  {filter:blur(2px);}
    50%  {filter:blur(7px); }
    100% {filter:blur(0px);}
}

.lens:hover .lens-actu {
    animation: focus 1s ease-in-out 0s ;
}

.lens:hover .imgInLens {
    animation: focus-blur 1s ease-in-out 0s ;
}

.lens-actu {
    position: absolute;
    top: -6%;
    margin-left: 27%;
    width: 38%;
    z-index: 1;
}

.imgInLens {
    position: relative;
    max-width: 35%;
    margin-top: 25%;
    margin-left: 25%;

}

.titreActu {
    text-align: center;
    font-size: 300%;
    margin-bottom: 0%;
    margin-top: 3%;
    color: #EE6616;
    font-family: 'santorregular', 'DIN-Bold', 'Courgette';
    font-weight: bold;
}

.news{
    font-size: 200%;
    text-align: center;
    color: #EE6616;
}

.txtActu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20%;
    text-align: center;
    font-size: 150%;
}

.glyphicon {
    color: #EE6616;
}

.orange {
    color: #EE6616;
    text-align: center;

}

.orange:hover {
    color: #EE6616;
}

.date {
    color: #EE6616;
    text-align: right;
    margin-left: 35%;
}

.carousel-caption {
    color: #EE6616;
}

.goToList {
    color: rgb(78, 78, 78);
    font-size: 150%;
    text-align: right;
    text-decoration: underline;
    font-weight: bold;
}

.goToList:hover {
    color: #EE6616;
}

.goToList_div {
    margin-top: -2%;
}

.carousel-control.left {
    background:none;
}

.carousel-control.right {
    background:none;
}

.carousel-indicators li {
    border-color: black;
    background-color: #EE6616;
}

p {
    text-align: center;
    font-size: 150%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 150%;
}

div.circle-avatar{
    /* make it responsive */
    max-width: 100%;
    width:35%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top: 35%;

    /* make it a cirkle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimention to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}