body {
    background-image: url("../image/game-image-opaque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: RGBA(255, 255, 255, 0.7);
    border: solid 1px black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.titreActualités {
    text-decoration: underline;
}

.back {
    text-align: left;
}